[user]
  name = youcune
  email = you@nakanishi.email
  # signingkey =

[gpg]
  # format = ssh

[gpg "ssh"]
  # program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  # gpgsign = true
