[include]
  path = ~/.gitconfig.local
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore.global
  autocrlf = input
  whitespace = cr-at-eol
  quotepath = false
  editor = vim
[push]
  default = simple
[http]
	sslVerify = false
[merge]
	ff = false
[branch "master"]
	rebase = true
